---
layout: template
title: Main Page Index
base_url: "../../"
---
<div class="jumbotron" style="background-image: url('http://i.imgur.com/5Q2Uv6g.png') ">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center jumbotron-text jumbotron-image-dark">
        <h1>Jumbo Base Element</h1>
        <p>A sample image description that will go along with the image title. The description should exude positive imagery. You should know how amazing it is.</p>
        <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> download</a>
      </div>
    </div>
  </div>
  <div class="meta">
    <a href="/" class="btn"><span class="glyphicon glyphicon-resize-full"></span></a>
    <a href="/" class="btn"><span class="glyphicon glyphicon-eye-open"></span></a>
    <a href="/" class="btn">bottom</a>
    <a href="/" class="btn"><span class="glyphicon glyphicon-tint"></span></a>
  </div>
</div>
<div class="jumbotron" style="background-image: url(http://i.imgur.com/bBxiuTl.jpg) ">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center jumbotron-text jumbotron-image-light">
        <h1>No buttons</h1>
        <p>A sample image description that will go along with the image title. The description should exude positive imagery. You should know how amazing it is.</p>
        <a href="/" class="btn btn-primary">A link to download</a>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron toggle-visibility" style="background-image: url('http://i.imgur.com/5Q2Uv6g.png') ">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center jumbotron-text jumbotron-image-dark">
        <h1>Jumbo Visible Image</h1>
        <p>A sample image description that will go along with the image title. The description should exude positive imagery. You should know how amazing it is.</p>
        <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> download</a>
      </div>
    </div>
  </div>
  <div class="meta">
    <a href="/" class="btn"><span class="glyphicon glyphicon-resize-full"></span></a>
    <a href="/" class="btn btn-active"><span class="glyphicon glyphicon-eye-open"></span></a>
    <a href="/" class="btn">bottom</a>
    <a href="/" class="btn"><span class="glyphicon glyphicon-tint"></span></a>
  </div>
</div>
<div class="jumbotron toggle-expand" style="background-image: url('http://i.imgur.com/5Q2Uv6g.png') ">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center jumbotron-text jumbotron-image-dark">
        <h1>Jumbo Expanded Image</h1>
        <p>A sample image description that will go along with the image title. The description should exude positive imagery. You should know how amazing it is.</p>
        <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> download</a>
      </div>
    </div>
  </div>
  <div class="meta">
    <a href="/" class="btn btn-active"><span class="glyphicon glyphicon-resize-full"></span></a>
    <a href="/" class="btn"><span class="glyphicon glyphicon-eye-open"></span></a>
    <a href="/" class="btn">bottom</a>
    <a href="/" class="btn"><span class="glyphicon glyphicon-tint"></span></a>
  </div>
</div>
<div class="jumbotron toggle-bottom" style="background-image: url('http://i.imgur.com/5Q2Uv6g.png') ">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center jumbotron-text jumbotron-image-dark">
        <h1>Jumbo Bottom Image</h1>
        <p>A sample image description that will go along with the image title. The description should exude positive imagery. You should know how amazing it is.</p>
        <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> download</a>
      </div>
    </div>
  </div>
  <div class="meta">
    <a href="/" class="btn"><span class="glyphicon glyphicon-resize-full"></span></a>
    <a href="/" class="btn"><span class="glyphicon glyphicon-eye-open"></span></a>
    <a href="/" class="btn btn-active">bottom</a>
    <a href="/" class="btn"><span class="glyphicon glyphicon-tint"></span></a>
  </div>
</div>
