---
layout: template
title: Main Page Index
base_url: "../../"
---
<div class="jumbotron" style="background: url('http://i.imgur.com/5Q2Uv6g.png') top no-repeat">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center jumbotron-text jumbotron-image-dark">
        <h1>Jumbo Image Title</h1>
        <p>A sample image description that will go along with the image title. The description should exude positive imagery. You should know how amazing it is.</p>
        <a href="/" class="btn btn-primary">A link to download</a>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background: url(http://i.imgur.com/bBxiuTl.jpg) top no-repeat">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center jumbotron-text jumbotron-image-light">
        <h1>Jumbo Image Title</h1>
        <p>A sample image description that will go along with the image title. The description should exude positive imagery. You should know how amazing it is.</p>
        <a href="/" class="btn btn-primary">A link to download</a>
      </div>
    </div>
  </div>
</div>
